beautifulsoup4==4.12.3
easyocr==1.7.2
fastapi==0.115.6
langchain==0.3.12
langchain_community==0.3.12
langgraph==0.2.60
lxml==5.3.0
nltk==3.9.1
openai==1.58.1
pandas==2.2.3
pydantic==2.10.3
Requests==2.32.3
scikit_learn==1.6.0
selenium==4.27.1
SQLAlchemy==2.0.36
streamlit==1.40.1
torch==2.5.1
tqdm==4.67.0
transformers==4.46.3
typing_extensions==4.12.2
pytest==8.3.4