<table border="1" style="width: 100%; text-align: left;">
    <tr>
        <th>字段名</th>
        <th>输入</th>
    </tr>
    <tr>
        <td>姓名</td>
        <td><input type="text" id="name"></td>
    </tr>
    <tr>
        <td>年龄</td>
        <td><input type="number" id="age"></td>
    </tr>
    <tr>
        <td>电子邮件</td>
        <td><input type="email" id="email"></td>
    </tr>
    <tr>
        <td>地址</td>
        <td><input type="text" id="address"></td>
    </tr>
    <tr>
        <td>备注</td>
        <td><textarea id="remarks"></textarea></td>
    </tr>
</table>
<button onclick="submitForm()">提交</button>